div,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    opacity: 1;
    z-index: 10;
    position: relative;
}

.header::after{
    display: none !important;
}
.header::before{
    display: none !important;
}

.header .content-pages{
    position: absolute;
    left: 62px;
    top: 75%;
    margin: 0;
    font-weight: bold;
    display: block;
}

.header .content-pages >p {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'Poppins', sans-serif;
}
